body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#loginBox {
  top: 50%;
  left: 50%;
}

#login {
  background-color: blue;
  padding-bottom: 3%;
  padding-top: 2%;
  width: 500px;
  padding: 40px;
  background: #191919;
  text-align: center;
  margin-top: 100px;
  border-radius: 2%;
}

#login h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

#login label {
  color: white;
  font-weight: 100;
}
